body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  width: 100vw;
  height: 100vh;

  background: url("https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

form {
  backdrop-filter: blur(3px);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  transition: all 0.5s;
}
form:hover {
  transform: scale(1.1);
  backdrop-filter: blur(6px);
  box-shadow: 0px 0px 30px white;
}
